*{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
    color: black;
}  

li{
    display: inline-block;
}


/* -----------hearder----------- */

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background-color: #E4EFF1;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-ul{
    flex-grow: 0;
}



.a-nav{
    margin-left: 32px;
    color:black;
    font-weight: 500;
}
.a-nav:hover{
    
    color:black;
   
}


@media (max-width: 767px) {
    .a-nav{
   text-align: center;
   font-size: 26px;
   padding-top: 50px;
   font-weight: bolder;

}}

@media (max-width: 767px) {
    .nav-ul{
      min-height: 100vh;
      background-color: #E4EFF1;
    
}}


.nav img{
    width: 120px;
    height: 40px;
    /* margin-left: 80px; */
}
.container-fluid button:focus{
box-shadow: none;
}
.nav-icon{
    background-image: url(../assets/images/ham.svg);
}
/* ----------MAIN----------MAIN--------MAIN-MAIN-MAIN----------MAIN ----------MAIN*/

.carousel-text{
    top:37%;
}
.carousel-next{
    justify-content: right;
}

.carousel-next [data-bs-target]{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.carousel-container img {
    height: 100vh;
}
@media (max-width: 767px) {
    .carousel-arrow{
     display:none;
    }}
/* ----------------EQUIPO------------EQUIPO-------EQUIPO---------------EQUIPO---------EQUIPO------- */
.equipo{
    margin-top: 25px;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}
.equipo h2{
    padding-left: 60px;
}
.container-datos{
    padding-right: 0;
    text-align: center;
}

/* --------SOMOS--------------SOMOS--------------------SOMOS----------SOMOS---- */


.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}
.grid-img{
    background-image: url(../assets/images/casco-100.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1;
    width: 100%;
    height: inherit;

}
.grid-text{
    padding: 130px 47px;
    height: inherit;
 
}

.grid-text h5{
    font-size: 57px;
    padding-bottom: 75px;
}
.grid-text p{
    margin-bottom: 75px;
}
.grid-text a {
    display: inline-block;
    margin-top: 25px;
    background-color: black;
    color: white;
    /* width: 125px;
    height: 55px; */
    text-decoration: none;
    padding: 17px  17px;
    font-size: 17px;
  
}
@media (max-width: 767px) {
    .grid{
      grid-template-columns: 1fr;
    }}
@media (max-width: 767px) {
    .grid-img{
    height: 0px;
    
} }

@media (max-width: 767px) {
    .grid-text{
    
    background-image: url(../assets/images/casco-100.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} }

/* ------CONTACTO-------CONTACTO---------CONTACTO------------CONTACTO ------- */
.container-contacto{
   display: grid;
    height: 100vh;
    padding: 0 300px 100px;
    align-content: center;
}
.container-contacto h1{
    font-size: 50px;
    font-weight: 600;
}
.content-contacto{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.none{
    border: none;
    
}
.none:focus-visible{
    border: none;
    
}

.form{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 56%;
}
.b-b{
    border-bottom: 1px solid black;
    padding: 15px 0;
}
.p-m{
padding: 20px 0 100px;
}
.form textarea{
    width: 56%;
}
.logo-contacto{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.derecha-contacto{

}
/* ------footer------ */
footer{
    display: flex;
    background-color: black;
    height: 75px;
    color: white;
    justify-content: center;
    align-items:center;
   
}

